.nav{
    display: flex;
    gap: 20px;
    align-items: center;

    &__link{
        color: $black;
        position: relative;
        &::before{
            position: absolute;
            top: 100%;
            content: '';
            width: 0%;
            transition: 200ms ease;
            height: 2px;
            background-color: $primary;
        }

        &:hover{
            color: $primary;
            &::before{
                width: 100%;
            }
        }

        &.-highlighted{
            border: 2px solid $primary;
            padding: 8px 16px;
            border-radius: $borderRadius;
            background-color: $primary;
            color: $white;

            @media(max-width: 768px) {
                padding: 6px 12px;
            }

            &::before{
                display: none;
            }

            &:hover{
                background-color: $black;
                border-color: $black;
            }
        }
    }
}